<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title style="text-align: center">Book Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="height: 10000px">
<div th:replace="layout :: header"></div>
<div class="container">
    <h1 style="text-align: center">Book Management System</h1>
    <hr>
    <h2>Save Book</h2>
    <form th:action="@{saveBook}" th:object="${book}" method="POST">
        <div class="form-group">


            <label style="font-weight: bold">Title</label>
            <input required type="text" th:field="*{title}" placeholder="Title" class="form-control">
            <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

        </div>
        <div class="form-group">
            <label style="font-weight: bold">Author</label>
            <input required type="text" th:field="*{author}" placeholder="Author" class="form-control">

        </div>
        <div class="form-group">
            <label style="font-weight: bold">Price</label>
            <input required type="number" th:field="*{price}" placeholder="Price" class="form-control">
            <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

        </div>
        <div class="form-group">
            <label style="font-weight: bold">Category</label>
            <select class="form-control" id="category" name="category.id">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                </option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
        </div>
        <button type="submit" class="btn btn-info">Save</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to Book list</a>
</div>
<div th:replace="layout :: footer"></div>
</body>
</html>